@import './responsive.scss';

.layout {
  // background-color: rgba(102, 51, 153, 0.4);
  height: 100svh;
  max-width: 1366px;
  margin: 0 auto;
  padding: 0 20px;
  display: flex;
  flex-direction: column;

  @include lg {
    // background-color: rgba(144, 238, 144, 0.4);
    max-width: 1280px;
  }
  @include md {
    // background-color: rgba(173, 216, 230, 0.4);
    max-width: 768px;
  }
  @include sm {
    // background-color: rgba(255, 99, 71, 0.4);
    max-width: 640px;
  }

  .content {
    // height: calc(100svh - 100px);
    flex: 1;
  }
}
